/*
===========================================================

OpenPanel by SONHLAB.com - version 2.0
website: http://sonhlab.com
Documentation: http://docs.sonhlab.com/openpanel-responsive-panel-anywhere/

============================================================
*/


/*========== START GLOBAL ==========*/

#op-station {
    display: none;
    height: auto;
   /* overflow-x: hidden;
    overflow-y: auto;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.op-tabstyle-top {
	top:5px;
	position:relative;
	font-size:1em;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	display:inline-block;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	cursor:pointer;
	margin-left:1em;
	
}
.op-tabstyle-top:hover {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}

.op-blockholder {
	width:304px;
	margin:50px auto;
	position:relative;
}

.op-block1 {
	width:96px;
	height:200px;
	margin-bottom:8px;
	line-height:200px;
	text-align:center;
}

.op-block1 img, .op-block2 img {
	vertical-align: middle;
	margin:auto;
	padding:0px;
	position:relative;	
}

.op-block2 {
	width:200px;
	height:96px;
	margin-bottom:8px;
	line-height:96px;
	text-align:center;
}


/* NavBar */
.op-menus {
	margin-bottom:20px;
	padding:0;
	list-style:none;
	overflow:hidden;
	position:relative;
}
.op-menu {
	padding:0px;
	margin:0px;
	position:relative;
	z-index:9998;
	width:100%;
}
.op-menu a {
	padding:10px 20px;	
	display:block;
	position:relative;
	height:48px;
	
}
.op-icons {
	width:32px;
	height:32px;
	padding:8px;
	display:block;
	float:left;
}
.op-menu span {
	display:block;
	float:left;
	width:132px;
	margin-left:10px;
	margin-right:10px;
	font-size:14px;
	line-height:24px;
	font-family:'Dosis',sans-serif;
	color:#fff;
}
.op-menu:hover {
	background: rgba(0,0,0,0.2);/* Modern browser */
}

.op-menublock {
	width:240px;
	float:left;
}
/* End NavBar */


/*========== END GLOBAL ==========*/




/* OPENPANEL - REQUIRED */
.op-panel {
	/*overflow:auto;*/
	box-shadow: 0 0 9px #949494;
	position:relative;
	z-index:9999;
	display:none;
	width:100%;
	height: auto;
	/*overflow-y: hidden;*/
}

.op-panelbg {
	position:fixed;
	width:100%;
	min-height:100%;
}

.op-panelbt {
	cursor:pointer;
	display:inline-block;
	height:48px;
}
.op-bt-nav {
	float:left;
	margin:10px;
}
.op-bt-close {
	float:left;
	margin:10px;
}
.op-bt-closeall {
    float: left;
    margin-right: 6px;
}

s.op-panelctrl {
    display: block;
    height: 50px;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 9999;
}
.op-panelform {
	/*width:960px;*/
	margin:auto;
	position:relative;
	z-index:9998;
	height:auto;
	overflow:auto;
}

@media screen and (max-width:960px) {
	.op-panelctrl {
		width:100%;
	}
	.op-panelform {
		width:100%;
	}
}

.op-tab {
	cursor:pointer;
}
/* END OPENPANEL */



/* Loading Icon */
#op-loadingholder {
	width:64px;
	height:64px;
	position:fixed;
	top:50%;
	left:50%;
	padding:12px;
	z-index:9999;
	margin-top:-40px;
	margin-left:-40px;
	border-radius:5px;
	display:none;
}
#op-loadingicon {
	background:url(../../../../../images/loading.gif) no-repeat;
	width:64px;
	height:64px;
}
/* End Loading Icon */






/* MISC */
.responsive-img {
	width:100%;
	margin:auto;
	display:block;
	position:relative;
}
.img-holder {
	width:590px;
	margin:10px auto;
}

@media screen and (min-width:591px) {
	.img-holder {
		width:590px;
	}
}

@media screen and (max-width:590px) {
	.img-holder {
		width:100%;
		
	}
}


.thumb-holder { margin:20px;}
.thumbnails { float:left; width:192px; height:144px; margin-bottom:10px; margin-right:10px; }
.thumbnails img { max-width:192px;} 

.op-panelbt.op-bt-closeall.floatright > span {
    color: #fff;
    font: bold 18px arial;
	line-height: 7px;
}

.op-panelbt.op-bt-closeall.floatright {
    background-color: #819db2;
    border-radius: 1px;
    height: 29px;
    margin: -1px;
    padding: 7px;
}

.op-panelctrl.solid-black {
    height: 50px;
}

.right.op-panel.solid-darkred {
    float: right;
    height: 100% !important;
    overflow-x: hidden;
    width: 50% !important;
}

.op-panel.solid-darkred.top {
    height: 60% !important;
    overflow-x: hidden;
    width: 100%;
}

.op-panel.solid-darkred.bottom {
    height: 60% !important;
    margin-top: 320px;
    overflow-x: hidden;
    width: 100%;
}

.op-panel.solid-darkred.left {
    height: 100% !important;
    overflow-x: hidden;
    width: 50% !important;
}

.col-md-12 {
  text-align: justify;
}

.container.panelcontainer {
    width: 100%;
}



