/* CSS Document */
.op-panel.solid-darkred.top {
    height: 50% !important;
    width: 100%;
}

.op-panel.solid-darkred.bottom {
    height: 50% !important;
    margin-top: 350px;
    width: 100%;
}

.op-panelbt.op-bt-closeall.floatright > span {
    color: #fff;
    font: bold 16px/2px arial;
}

